@using Shop.Common
@{
    /**/

    var session = (UserLogin)Session[Shop.Common.Constants.USER_SESSION];
}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/Home">Dashboard</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button><!-- Navbar Search-->

    @if (session == null)
    {
        <div class="col-3">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> Electro@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 173 Quang Trung</a></li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="header-links pull-right">
                
                <li><a href="/admin"><i class="fa fa-user-o"></i> Tài khoản</a></li>
            </ul>
        </div>
        
    }
    else
    {
        <div class="col-3">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> Electro@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 173 Quang Trung</a></li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="header-links pull-right">

                <li><a href="/admin/Home"><i class="fa fa-user-o"></i>Xin chào: @session.UserName</a></li>
                <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
            </ul>
        </div>



    }
</nav>
